@charset "UTF-8";

/*oocss*/

html {
  font-size: 100%;
}

body {
  background-color: #f0f0f0;
  color: #000;
  font-size: 0.9rem;
}

a {
  color: #000;
  font-size: 0.8rem;
  text-decoration: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

li {
  list-style: none;
}

.logo {
  width: 100px;
  line-height: 4px;
  margin-right: 80px;
}

.logo a {
  display: block;
}

.section-title {
  font-weight: normal;
  line-height: 1;
  margin-bottom: 60px;
}


.section-title::after {
  content: "";
  width: 60px;
  height: 4px;
  background-color: #000;
  display: block;
}

.section-title .en {
  display: block;
  font-size: 2.25rem;
  letter-spacing: 1em;
  margin-bottom: 40px;
}

.section-title .ja {
  display: block;
  font-size: 0.875rem;
  margin-bottom: 40px;
}

.wrapper {
  width: 100%;
  max-width: 1050px;
  padding: 0 20px;
  margin: 0 auto;
}

/*-------------------------------------------
ヘッダー
-------------------------------------------*/
#header {
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header .inner {
  display: flex;
  align-items: center;
}

#header .inner ul {
  display: flex;
  align-items: center;
}

#header .inner li {
  margin-right: 40px;
}

#header .inner li:last-child {
  margin-right: 0;
}

#header .contact {
  width: 300px;
  height: 90px;
  line-height: 85px;
  background-color: #000;
  color: #fff;
  font-size: 0.75rem;
  display: inline-block;
  text-align: center;
}

#header .contact:hover {
  background-color: #333;
}

/*-------------------------------------------
Mainvisual
-------------------------------------------*/
#mainvisual {
  margin-bottom: 150px;
}

#mainvisual img {
  width: 100%;
  height: calc(100vh - 80px);
  object-fit: cover;
}

/*-------------------------------------------
News
-------------------------------------------*/
#news {
  margin-bottom: 150px;
}

#news .list {
  display: flex;
  justify-content: space-between;
}

#news .list li {
  width: calc(100%/3);
  border-right: solid 1px #000;
  padding: 20px 25px;
}

#news .list li:first-child {
  padding-left: 0;
}

#news .list li:last-child {
  border-right: none;
  padding-right: 0;
}

#news .list li .date-area {
  margin-bottom: 20px;
}

#news .list li .date-area span {
  width: 60px;
  height: 30px;
  line-height: 40px;
  background-color: #000;
  color: #fff;
  display: inline-block;
  font-size: 0.75rem;
  margin-left: 20px;
  text-align: center;
}

/*-------------------------------------------
About
-------------------------------------------*/
#about {
  display: flex;
  margin-bottom: 140px;
}

#about .img {
  width: 55%;
}

#about .img img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

#about .text {
  width: 45%;
  padding: 190px 5% 0 5%;
}

#about .text p {
  line-height: 2.2;
}

/*-------------------------------------------
Business
-------------------------------------------*/
#business {
  margin-bottom: 140px;
}

#business .flex {
  display: flex;
  justify-content: space-between;
  padding: 0 10%;
}

#business .flex .left {
  width: 46%;
  margin-top: 120px;
}

#business .flex .right {
  width: 46%;
}

#business .flex .item {
  margin-bottom: 60px;
}

#business .flex .item:last-child {
  margin-bottom: 0;
}

#business .flex .title {
  font-weight: bold;
  margin: 0 0 15px 20px;
  position: relative;
}

#business .flex .title::before {
  content: "";
  width: 9px;
  height: 5px;
  background-color: #000;
  position: absolute;
  top: 50%;
  left: -18px;
}

/*-------------------------------------------
Company
-------------------------------------------*/
#company {
  height: 780px;
  display: flex;
  align-items: center;
  position: relative;
}

#company .text {
  width: 55%;
  background-color: #fff;
  padding: 100px 8% 100px 6%;
  position: absolute;
  top: 0;
  left: 0;
}

#company .img {
  width: 53%;
  position: absolute;
  top: 120px;
  right: 0;
}

#company .img img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

#company .info {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

#company .info dt {
  width: 20%;
  margin-top: 20px;
}

#company .info dt:first-of-type {
  margin-top: 0;
}

#company .info dd {
  width: 80%;
  margin-top: 20px;
}

#company .info dd:first-of-type {
  margin-top: 0;
}

#company .info .add {
  margin-left: 20%;
}

/*-------------------------------------------
footer
-------------------------------------------*/
#footer {
  background-color: #fff;
  padding-bottom: 20px;
}

#footer .flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 0;
}

#footer .flex .logo {
  margin-right: 0;
}

#footer .copyright {
  font-size: 0.625rem;
}

/*-------------------------------------------
SP
-------------------------------------------*/
@media screen and (max-width: 900px) {
  .logo {
    width: 90px;
    margin: 8px 0;
  }

  .section-title {
    margin-bottom: 44px;
  }

  .section-title .ja {
    margin-bottom: 34px;
  }

  /*-------------------------------------------
  ヘッダー
  -------------------------------------------*/
  #header .inner {
    flex-direction: column;
    align-items: flex-start;
  }

  #header .contact {
    display: none;
  }

  /*-------------------------------------------
  Mainvisual
  -------------------------------------------*/
  #mainvisual {
    margin-bottom: 90px;
  }

  /*-------------------------------------------
  News
  -------------------------------------------*/
  #news {
    margin-bottom: 90px;
  }

  #news .list {
    flex-direction: column;
  }

  #news .list li {
    width: 100%;
    border-right: none;
    padding: 20px 0;
    margin-bottom: 30px;
  }

  #news .list li:last-child {
    margin-bottom: 0;
  }

  /*-------------------------------------------
  About
  -------------------------------------------*/
  #about {
    flex-direction: column;
    margin-bottom: 90px;
  }

  #about .img {
    width: 100%;
    margin-bottom: 40px;
  }

  #about .img img {
    height: 330px;
  }

  #about .text {
    width: 100%;
    padding: 0 20px;
  }

  /*-------------------------------------------
  Business
  -------------------------------------------*/
  #business {
    margin-bottom: 90px;
  }

  #business .flex {
    flex-direction: column;
    padding: 0;
  }

  #business .flex .left {
    width: 100%;
    margin: 0 0 40px 0;
  }

  #business .flex .right {
    width: 100%;
  }

  #business .flex .item {
    text-align: center;
    margin-bottom: 40px;
  }

  #business .flex .title {
    text-align: left;
  }

  /*-------------------------------------------
  Company
  -------------------------------------------*/

  #company {
    height: auto;
    flex-direction: column;
    position: static;
  }

  #company .text {
    width: 100%;
    padding: 50px 30px;
    margin-bottom: 30px;
    position: static;
  }

  #company .img {
    width: 100%;
    padding: 0;
    position: static;
  }

  #company .info {
    flex-direction: column;
  }

  #company .info dt {
    width: 100%;
    margin-top: 30px;
  }

  #company .info dd {
    width: 100%;
    margin-top: 6px;
    padding-left: 18px;
  }

  #company .info dd:first-of-type {
    margin-top: 8px;
  }

  #company .info .add {
    margin-left: 0;
  }

  /*-------------------------------------------
  footer
  -------------------------------------------*/
  #footer .flex {
    flex-direction: column;
    align-items: flex-start;
  }

  #footer .flex .logo {
    margin-bottom: 20px;
  }
}